
/*....................................................................................................................*/
/* Examples. */

.mainButton 
{
  color: #CCC;
  background: #666;
}

.mainButton:hover
{
  color: #EEE;
  background: #888;
}

