
/*....................................................................................................................*/
/* Examples. */

.button
{
  color: #CCC;
  background: #666;
}

.button:hover
{
  color: #EEE;
  background: #888;
}

